body {
    font-family: 'Roboto Condensed', sans-serif;
}

div.center {
    bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 40%;
    height: 40%;
    text-align: center;
}

div.columns {
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}
